<div class="footer text-center">
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="https://twitter.com/368" class="footer-element">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.youtube.com/channel/UC8H50KowIQWcT73BMIe4Uzw" class="footer-element">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://instagram.com/368" class="footer-element">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>

  <div class="copy">
    Made with love by  <a href="www.twitter.com/bastiengason">@bastiengason</a>
  </div>
</div>
