<div class="navigation">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">368</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Creator Resources</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</div>
