<%= render 'shared/navbar' %>
<%= render 'application/banner_contact' %>

<div class="contact-desc">
  We will get back to you as soon as we can. <br>
  As always, regular updates posted on <a href="#">Twitter</a> or <a href="#">Instagram</a> @368.
</div>

<%= render 'shared/footer' %>
