#about-home {
  height: 60vh;
  margin-top: -106px;
  padding-top: 180px;
  margin-bottom: 60px;
}

.about-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-title {
  font-size: 35px;
  font-weight: 600;
  color: $brand-black;
  font-family: "Avenir";
  margin-bottom: 30px;
  margin-top: 20px;
}

.about-desc {
  max-width: 700px;
  font-size: 18px;
  color: $brand-black;
  font-family: "Avenir";
  margin-bottom: 30px;
  text-align: center;
}
