#banner-home {
  height: 100vh;
  background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.4) 50%), url("banner-copie.png");
  background-size: cover;
}

.banner-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.banner-title {
  font-size: 65px;
  font-weight: 600;
  color: white;
  font-family: "Avenir";
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.banner-creator {
  min-height: 30vh;
  background-color: $brand-black;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Avenir";

  h2 {
    font-size: 50px;
  }

  a {
    color: $brand-red;
  }
}

.banner-about {
  min-height: 45vh;
  background-color: $brand-black;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-contact {
  min-height: 45vh;
  background-color: $brand-black;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Avenir";

  h2 {
    font-size: 50px;
  }

  a {
    color: $brand-red;
  }
}
