.footer {
  height: 30vh;
  padding: 50px;
  background-color: white;
  color: $brand-black;
}


li {
  a {
    i {
      color: $brand-black;
      font-size: 35px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
