.footer {
  padding: 40px 0 40px;
  background-color: white;
  color: $brand-black;
}


li {
  a {
    i {
      color: $brand-black;
      font-size: 35px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
