<div id="about-home">
  <div class="about-content">
    <h2 class="about-title">What is 368?</h2>
    <div class="about-desc">
      <strong>368</strong> is a new media studio and creator community co-founded <strong>by Casey Neistat</strong>. Designed to accelerate <strong>creator culture</strong> and grow opportunities rooted in a highly engaged audience, <strong>368 aims to unlock the full potential of next-gen content creators</strong>.
    </div>
  </div>
</div>
