<div id="banner-home">
  <div class="banner-content">
    <h1 class="banner-title">Welcome to 368.</h1>
    <div class="cta-container mt10">
      <a href="#discover" class="btn btn-primary mr10">Discover</a>
      <a href="/contact" class="btn btn-secondary ml10">Contact us</a>
    </div>
  </div>
</div>
